body{
    
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(wallpaperbetter.com_1920x1080\ \(1\).jpg);    
}

#tateti{
    display: block;
    margin: 0 auto;
    width: 800px;
    height:500px;
    position: absolute;
    top: 15%;
    left: 31%;
    background-color: lightgrey;
    
    }

    

#turno{
    width: 800px;
    height: 100px;
    background-color: lightcyan;
    background-image: url("https://i.ibb.co/9wnzQZR/Fondo-Horizontal-Realista-Del-Modelo-De-La-Pared-De-Ladrillo-Del-Vector.jpg");
    background-repeat: repeat;
    margin: 0;
    border: 0;
    border: 1px solid black;
    text-align: center;
    font-size: 45px;
    font-family: Verdana;
    color: black;
}

.cuadrados{
    width: 50px;
    height: 125px;
    border: 1px solid black;
    text-align: center;
    font-size: 70px;
    font-family: Verdana;
    background-image:url("https://i.ibb.co/hDSYbgQ/Wallpapers.jpg");
    color: white;

}

#limpiar{
    
    border: 1px solid black;
    height: 100px;
    text-align: center;
    font-size: 30px;
    font-family: Verdana;
    background-color: lightgrey;
    background-image: url("https://i.ibb.co/9wnzQZR/Fondo-Horizontal-Realista-Del-Modelo-De-La-Pared-De-Ladrillo-Del-Vector.jpg");  
}

footer{
    width:100%;
    background: #E3E6EA;
    border: 0px;
    margin: 0;
    position: fixed;
    top: 90%;
    left: 0;
    height: 75px;
}

footer h3{
    text-align: right;
    padding: 0px;
    
    position: absolute; 
    left: 10px;
    font-family: Verdana;
    display: inline;
}

.email{
    width:50px;
    height:50px;
    position: absolute;
    left: 85%;
    top:10px;
}

.linkedin{
    width:50px;
    height:50px;
    position: absolute;
    left: 95%;
    top:10px;
}